<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
    <link href="https://stackpath.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u"
        crossorigin="anonymous" />
</head>
<body>
    <div class="container">
        <div class="row">
            <h1>Experiment</h1>
            <h2>Filling in second select element depending on selection in first select element</h2>
            <p>Note that the <strong>Services</strong> select element is not populated before you make a selection in the <strong>Department</strong> selector.</p>
            <p>This method uses jQuery to make an ajax call to Flask to get the relevant data and populate the servises selector once an option for the departments has been made by the user. We cannot rely on jinja to do this as jinja templating executes at the start of the page. At that time the user has not made any selection. The user has not even seen the page.</p>
        </div>
        <div class="row">
            <form action="{#{ url_for('insert_food_item') }#}" method="POST" class="col s12">
                <div class="row">
                    <div class="input-field col s12">
                        <div class="col-xs-3 col-sm-2">
                            <label>Department</label>
                        </div>
                        <select id="department" name="department">
                            <option value="" class="dept" disabled selected>Choose a department</option>
                            {% for dept in depts %}
                            <option id="{{ dept['ref'] }}" class="dept" value="{{ dept['ref'] }}">{{ dept['name'] }}</option>
                            {% endfor %}
                        </select>
                    </div>
                </div>

                <div class="row">
                    <div class="input-field col s12">
                        <div class="col-xs-3 col-sm-2">
                            <label>Services</label>
                        </div>
                        <select id="services" name="services">
                            <option value="" disabled selected>Select a department from list above</option>
                        </select>
                    </div>
                </div>
            </form>
        </div>
    </div>


    <script src="https://code.jquery.com/jquery-3.3.1.min.js" integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8="
        crossorigin="anonymous">
        </script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa"
        crossorigin="anonymous">
        </script>

    <script>
        $("#department").change(function() {
            let cur_value = $('option:selected', this).val();
            console.log(cur_value);
            
            $.ajax({
                data: {
                    ref : cur_value
                },
                type: 'POST',
                url: '/services'
            })
            .done((data) => {
                if (data.error) {
                    console.log(data.error)
                } else {
                    let optionToFill = $("#services");
                    optionToFill.find('option').remove().end();

                    data.data.forEach((element) => {
                        optionToFill
                            .append(`<option value="${element}">${element}</option>`);
                    });
                }
            });
        });
    </script>
</body>
</html>